
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 90%);
}
#container {
    padding: 25px 100px 0;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: .9rem;
}
nav ul li:last-child {
    border: 1px solid black;
    padding: 6px;
    background-color: black;
    border-radius: 6px;
}
a {
    text-decoration: none;
    color: black;
}
.but1 {
    color: white;
}
#section1 {
    display: flex;
    padding-left: 15rem;
    margin: 100px 0;

}
img {
    width: 20%;
    /* border: 1px solid red; */
}
.side {
    width: 50%;
    padding: 60px 0 0 70px;
}
.side h1 {
    font-size: 4rem;
    padding-bottom: 30px;
}
p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #999;
}
#section2 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15rem;
    margin-bottom: 30px;
}
.career {
    width: 60%;
}
.career h3 {
    font-size: 1.8rem;
    padding-bottom: 15px;
}
.skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.skills ul li{
    border: 1px solid hsl(0, 6%, 81%);
    /* background-color: #999; */
    text-align: center;
    box-shadow: 5px 2px hsl(0, 6%, 81%);
    /* color: #999; */
}